{% extends 'shop/base.html' %}
{% load static %}


{% block title %}
    Каталог
{% endblock %}


{% block catalog_product %}
    <section class="justify-content-center justify-content-lg-between p-4 border-bottom">
        <h4 class="content-center">КАТАЛОГ</h4>
    </section><br>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for product in products %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ product.name }}</h4>
              </div>
              <div class="card-body">
                  <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" width="60%" alt=""><br></a>
                <h2 class="card-title pricing-card-title">{{ product.price }}<small class="text-muted fw-light"> р.</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  {{ product.description }}
                </ul>
                  <a href="buy/{{ product.id }}">
                      <button type="button" class="w-100 btn btn-lg btn-outline-primary">В корзину</button>
                  </a>
              </div>
            </div>
          </div>
        {% empty %}
        <p> Не товаров !</p>
        {% endfor %}
    </div>
{% endblock %}